* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  line-height: 1.6;
}

.navbar {
  font-size: 15px;
  font-weight: 550;
  line-height: 1.6;
}

.nav-dd-arrow {
  visibility: hidden !important;
  color: #ea4c89;
}

.dropdown-item:hover .nav-dd-arrow {
  visibility: visible !important;
}

.mobile-header {
  display: none !important;
}

@media screen and (max-width: 990px) {
  .mobile-header {
    display: block !important;
  }
  .desktop-header {
    display: none !important;
  }
}

.navbar-toggler-icon:hover {
  outline: none !important;
  font-size: 10px !important;
}

.nav-dd {
  text-decoration: none;
  color: #6e6d7a;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-dd:hover {
  color: #6e6d7a;
}

.dd-item {
  margin: 1rem 0.5rem;
}

.nav-dd-item {
  list-style-type: none !important;
  margin: 1rem 0px;
  color: #6e6d7a;
  font-weight: 400;
  cursor: pointer;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 5px !important;
  min-width: 20rem !important;
  min-height: 15rem !important;
}

.dd-browse > p {
  font-size: 14px;
  color: #6e6d7a;
}

.dd-heading {
  font-size: 16px;
  font-weight: 500;
}

.dd-icon {
  padding: 4px;
  background-color: aliceblue !important;
  width: 30px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
}

.btn-danger {
  background-color: #ea4c89 !important;
}

.dd-info {
  font-size: 12px;
}

ul > li {
  margin-left: 1rem;
}

.fa {
  font-size: large;
}

.search {
  color: #6e6d7a;
}

.search-icon {
  cursor: pointer;
}

.signin {
  color: #6e6d7a !important;
  font-size: 14px;
}

.signup {
  background-color: #ea4c89;
  color: white;
  font-size: 14px;
  font-weight: 550;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  line-height: 1.5;
}

.media {
  width: 100%;
  /* height: 50rem; */
  position: relative;
}

.media-bg {
  position: absolute;
  background: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

video {
  min-width: 100%;
  display: fixed;
  object-fit: cover;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  position: absolute;
  top: 8rem;
  left: 13rem;
  width: 80rem;
  z-index: 1;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 3px;
}

div.scrollmenu a:hover {
  background-color: #fff !important;
  color: black !important;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  div.scrollmenu {
    width: 60rem;
    left: 2rem;
  }
}

@media screen and (max-width: 995px) {
  div.scrollmenu {
    display: none;
  }
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}

.categories > ul > li {
  list-style-type: none;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
}

.active {
  background-color: #fff !important;
  color: black !important;
}

.media-content {
  position: absolute;
  top: 10rem;
  left: 22rem;
  width: 50rem;
  color: #fff;
}

.media-content-heading {
  width: 30rem;
  margin: auto;
  margin-bottom: 1.5rem;
  font-weight: bolder;
}

.media-content-text {
  width: 38rem;
}

.media-content-search {
  width: 38rem;
  margin: 3rem auto;
  position: relative;
}

.media input {
  width: 100%;
  padding: 1rem 4rem;
  border: none;
  border-radius: 50px;
}

input:focus {
  outline: none;
}

.media-search {
  position: absolute;
  top: 22px;
  left: 25px;
  color: #6e6d7a;
}

.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  width: auto;
}

.trending > button {
  background: transparent;
  border: 1px solid white;
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  margin-left: 1rem;
  font-size: 14px;
}

.d {
  width: 100%;
  height: 5rem;
  background-color: #6e6d7a;
}

.filter {
  margin: 2rem 0;
}

.filter-icon {
  align-self: center;
  color: #cccccc;
}

.filter-btns {
  display: flex;
  justify-content: space-between;
}

.popular-btn {
  background: none;
  border: 2px solid #f3f3f4;
  border-radius: 10px;
  color: #6e6d7a !important;
}

.popular-btn:hover {
  color: #0d0c22;
  outline: #f3f3f4;
}

.popular-items {
  margin-top: 9px !important;
  min-width: 3rem !important;
  min-height: 3rem !important;
  color: #6e6d7a !important;
  font-size: 14px !important;
}

.filter-btn {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  color: #0d0c22;
  border: 2px solid #f3f3f4;
  cursor: pointer;
}

.filter-input {
  background-color: #f3f3f4;
  border: transparent;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 8px 3rem;
  outline: none;
  color: #6e6d7a;
}

.filter-input-icon {
  position: relative;
}

.filter-input-icon-p {
  position: absolute;
  top: 13px;
  left: 1.3rem;
}

.card-row {
  margin: 1rem 0;
}

.card {
  margin: 1rem 0;
  border: none !important;
}

.card-img-holder {
  position: relative;
}

.card-hover {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  padding: 0 1rem;
}

.card:hover .card-hover {
  visibility: visible;
}

.card-hover-tag {
  /* color: #fff; */
  font-weight: 500;
}

.card-hover-icons {
  color: #6e6d7a;
}

.card-name {
  font-size: 17px;
  font-weight: 500;
}

.card-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.card-tag {
  font-size: 12px;
  color: white;
  font-weight: 600;
  background-color: #cccccc;
  padding: 1px 4px;
  border-radius: 5px;
}

.card-img {
  border-radius: 10px !important;
}

.card-icon {
  border-radius: 10px !important;
}

.card-reach {
  font-size: 12px;
  font-weight: lighter;
  color: #6e6d7a;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0px;
}

.sub-signup-btn {
  width: 100%;
  padding: 10px 60px;
  background: #ea4c89;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}

.sub-signin {
  color: #ea4c89;
  text-decoration: none;
  padding: 0px 60px;
}

@media screen and (max-width: 1100px) {
  .media-content {
    position: absolute;
    top: 8rem;
    left: 12rem;
    width: auto;
  }
  .media-content-heading {
    width: 25rem;
  }
  .media-content-text {
    width: 30rem;
  }
  .media-content-search {
    width: 30rem;
  }
}

@media screen and (max-width: 1110px) and (min-width: 991px) {
  .card-name {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-tag {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .card-name {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-tag {
    font-size: 8px;
  }
}

@media screen and (max-width: 690px) {
  .media-content {
    position: absolute;
    top: 4rem;
    left: 0rem;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .media-content {
    width: auto;
  }
  .media-content-heading {
    width: 20rem;
  }
  .media-content-text {
    width: 20rem;
    font-size: 12px;
    padding: 0 2px;
  }
  .media-content-search {
    width: 18rem;
  }
  .sub {
    display: block;
  }
  .sub-signin {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

footer {
  background-color: #fafafc;
  padding: 3rem 0rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.f-tagline-container {
  width: 17rem;
}

.f-tagline {
  width: 100%;
  margin: 1rem 10px;
}

.f-icons {
  cursor: pointer;
  margin: 0 10px;
  font-size: 1.2rem;
}

.f-for {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.f-heading {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.f-text {
  font-size: 15px;
  font-weight: 500;
  color: #6e6d7a;
  cursor: pointer;
}

.f-bar {
  margin: 3rem 0;
}

.f-copy {
  display: flex;
  justify-content: space-between;
}

.f-count {
  color: #6e6d7a;
}

.f-count-highlight {
  color: #0d0c22;
  font-weight: 500;
}

.scroll-up {
  position: sticky;
  opacity: 0.5;
  bottom: 10px;
  float: right;
}

@media screen and (max-width: 530px) {
  .scroll-up {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .media-content {
    width: auto;
  }
  .media-content-heading {
    width: 12rem;
  }
  .media-content-text {
    width: 10rem;
    font-size: 12px;
    padding: 0 2px;
  }
  .media-content-search {
    width: 14rem;
  }

  .trending {
    margin: 0;
  }

  .trending p {
    font-size: 13px;
  }

  .trending button {
    font-size: 10px;
    margin: 2px 5px;
  }
}
